.persistentPlayer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #16213e;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    flex-wrap: wrap; /* Permite que los elementos se reorganicen en pantallas pequeñas */
}

.podcastInfo {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 200px; /* Asegura que no se comprima demasiado en pantallas pequeñas */
}

.podcastImage {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
}

.podcastDetails {
    flex: 1;
}

.podcastDetails h3 {
    margin: 0;
    font-size: 1rem;
    color: #e0e0e0;
}

.podcastDetails p {
    margin: 0;
    font-size: 0.8rem;
    color: #16db93;
}

.audioPlayer {
    flex: 2;
    background-color: transparent !important;
    box-shadow: none !important;
    width: 100%; /* Asegura que ocupe todo el ancho disponible en pantallas pequeñas */
    margin-top: 10px; /* Añade espacio entre los elementos en pantallas más pequeñas */
}

.closeButton {
    background-color: #16db93;
    font-weight: 600;
    color: #1a1a2e;
    border: none;
    border-radius: 25px;
    padding: 4px 16px;
    margin: 5px 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    top: 0px;
    right: 10px;
}

.closeButton:hover {
    color: #e0e0e0;
}

:global(.rhap_container) {
    background-color: transparent !important;
    box-shadow: none !important;
}

:global(.rhap_time),
:global(.rhap_current-time) {
    color: #16db93 !important;
    min-width: 50px;
}

:global(.rhap_total-time) {
    min-width: 40px;
}

:global(.rhap_progress-filled),
:global(.rhap_progress-indicator) {
    background-color: #16db93 !important;
}

:global(.rhap_download-progress),
:global(.rhap_volume-indicator) {
    background-color: #16db93 !important;
}

:global(.rhap_button-clear) {
    color: #16db93 !important;
}

:global(.rhap_volume-button),
:global(.rhap_main-controls-button) {
    color: #16db93 !important;
}

@media (max-width: 768px) {
    .persistentPlayer {
        flex-direction: column;
        align-items: stretch;
        padding: 15px; /* Añade más padding en pantallas pequeñas */
    }

    .podcastInfo {
        margin-bottom: 10px;
        width: 100%; /* Asegura que el contenido de información ocupe todo el ancho */
    }

    .podcastImage {
        width: 50px;
        height: 50px; /* Reduce el tamaño de la imagen en pantallas más pequeñas */
    }

    .audioPlayer {
        width: 100%; /* Reproductor a pantalla completa en móviles */
        margin-top: 5px; /* Asegura separación entre controles y otros elementos */
    }

    .closeButton {
        position: absolute;
        top: 50px;
        right: 10px; /* Mueve el botón de cierre en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .podcastDetails h3 {
        font-size: 0.9rem;
    }

    .podcastDetails p {
        font-size: 0.7rem;
    }

    .audioPlayer {
        margin-top: 8px;
    }
}
